<?xml version="1.0" encoding="UTF-8" standalone="no"?><suite name="Suite" parallel="tests" thread-count="1"><parameter name="BrowserType" value="chrome"/><parameter name="envURL" value="https://opensource-demo.orangehrmlive.com"/><listeners><listener class-name="Scripts.TestListener"/><listener class-name="listeners.AnnotationTransformer"/></listeners><test name="4"><parameter name="TestCaseID" value="AddEmployee"/><parameter name="TestDataFilePath" value="./TestData/TestData.xlsx"/><classes><class name="Scripts.BusinessComponents"/><groups><run><include name="HRMS"/></run></groups></classes></test></suite>